@charset "UTF-8";

@media screen and (min-width: 768px){
    span#burguer{
        display: none;
    }
    menu {
        display: block;
    }

    menu > ul{
        overflow: hidden;
    }

    menu > ul > li{
        display: block;
        float: left;
        width: 20%;
        box-sizing: border-box;
    }

    main{
        width: 760px;
    }
}
