*{
    margin: 0px;
    padding: 0px;
}

@keyframes Floating {
    10%{
        transform: translate(0px, 0px);
    }
    30%, 70%{
        transform: translate(5px, 25px);
    }
}

@keyframes LuzPiscando {
    10%, 35% {
        background-color: yellow;
        box-shadow: 0px 0px 22px 4px yellow;
    }    
    40%, 100% {
        background-color: rgb(68, 61, 44);
        box-shadow: 0px 0px 0px 0px yellow;
    }   
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.4em;
    background-color: gray;
    box-shadow: 0px 0px 12px 1px rgb(87, 85, 85);
    height: 250px;
    width: 130px;
    border-radius: 10px;
    list-style-type: none;
    animation: Floating 6s 0s infinite;
}

li{
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
   box-shadow: inset 0px 0px 10px 1px rgb(46, 40, 40);
}

li:nth-child(1){
    background-color: rgb(68, 46, 46);   
}

li:nth-child(2){
    background-color: rgb(68, 61, 44);
    animation: LuzPiscando 4s 0s infinite;
}

li:nth-child(3){
    background-color: rgb(42, 58, 42);
}