@charset "UTF-8";

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 150px);
    gap: 10px;
    background-color: #ffa8a8;
    padding: 10px;
}

.container > div {
    background-color: aquamarine;
}