@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #444444;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;

    p {
        font-size: 25px;
    }
}

nav menu {
    list-style: none;
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 5px;
}

a {
    color: white;
    text-decoration: none;
}

.news-wrapper {
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    justify-items: center;
}

.products-wrapper {
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    margin-top: 60px;
}

.ad {
    grid-row: 1/4;
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
    /* margin: auto;  mesmo que justify-self e align-self em center */
}