@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

main {
    text-align: center;
}

ul {
    display: block;
    list-style-position: inside;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    padding-top: 20px;
    background-color: #ffcfcf;
    width: 100%;
    height: 100vh;
    transition: all .5s ease-in-out;
}

ul.modal-open {
    transform: translateX(0);
}

